.loginbox{
    background-color: white;
    border: 1px solid #edeeee;
    border-radius: 3px;
    padding: 10px 0px;
    text-align: center;
}
.loginform{
    width: 65%;
    margin: 0 auto;
}
.loginform .btnfb {
    background-color: #4090db;
    font-size: .9em;
}

.loginbox .gun {
    font-size: 42px;
    font-family: 'Pacifico', cursive;
}

.loginform .btnfb:hover {
    background-color: #2d6599;
    font-size: .9em;
}

.loginform .btnlogin {
    background-color: #0d47a1;
}

.loginform .btnlogin:hover {
    background-color: #0d47a1;
}