<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet")
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
        link(href="/css/app.css" rel="stylesheet")
        title Gun
    body
    include ./partials/messages.pug
    #app
    block content
    #footer
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
    script(src="/js/app.js")
    script.
        $(document).ready( function () {
            setTimeout(function (){
                $('#notice_wrapper').fadeOut(function () {
                    $(this).remove()
                })
            }, 2000)
        })