body, html {
    height: 100% !important;
	background-color: #fafafa;
}
.header{
	background-color: white;
	border-bottom: 1px solid #edeeee;
}
nav ul a {
    color: #9e9e9e !important;
}
nav ul a:hover {
    background-color: white !important;
    color: #0d47a1 !important;
}
nav .nav-wrapper i {
    height: 54px !important;
    line-height: 54px !important;
}
#notice_wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(13, 71, 161, 0.85);
    text-align: center;
    padding: 1.75rem;
    margin: 0;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 700;
}
#notice_wrapper .alert {
    padding: 1.75rem 0;
    text-align: center;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: #ffffff;
}
.text-right{
	text-align: right;
}
.text-center {
	text-align: center;
}
.green-text {
	color: #4CAF50 !important;
}
.gray-text{
    color: #9e9e9e !important;
}
.blue-text {
    color: #0d47a1 !important;
}
.timeline {
    padding: 30px 0px;
}
.reactrr{
	font-size: 30px !important;
	color: #0d47a1  !important;
    font-family: 'Pacifico', cursive;
}
.uppercase {
    text-transform: uppercase;
}
.login-width{
	width: 100%;
}
.login-height{
	height: 70%;
}
.absolute{
	position:absolute;
}
.right {
	float: right;
}
.left {
	float: left;
}
.no-margin {
	margin: 0;
}
.profile-bar {
	width: 20%;
}
.messages-list {
	width: 80%;
}
.position-btn {
	bottom: 45px;
	right: 24px;
}
.inline-block {
    display: inline-block;
    margin-right: -4px;
}
/*Card*/
.timeline{
	padding: 30px 0px;
}
.avatar{
	width: 54px;
	height: 54px;
	border-radius: 50%;
	float: left;
	margin-right: 12px;
}
.card small.time{
	line-height: 48px;
	font-size: 12px;
	color: #222222;
}
.card p {
	padding: 20px 0px;
}
.card .username {
	color: #03a9f4;
}

/* Buttons */
.btn:hover, .btn-large:hover {
	background-color: #f7f7f7;
}

/* Forms */ 

/* label color */
.input-field label {
	color: #03a9f4 !important;
}
/* label focus color */
.input-field input[type=text]:focus + label, input[type=password]:focus + label, input[type=email]:focus + label{
	color: #03a9f4 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus, input[type=password]:focus, input[type=email]:focus{
	border-bottom: 1px solid #03a9f4 !important;
	box-shadow: 0 1px 0 0 #03a9f4 !important;
}
/* valid color */
.input-field input[type=text].valid, input[type=password].valid, input[type=email].valid {
	border-bottom: 1px solid #66bb6a !important;
	box-shadow: 0 1px 0 0 #66bb6a !important;
}
/* invalid color */
.input-field input[type=text].invalid, input[type=password].invalid, input[type=email].invalid {
	border-bottom: 1px solid #ef5350 !important;
	box-shadow: 0 1px 0 0 #ef5350 !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
	color: #03a9f4 !important;
}
textarea.materialize-textarea:focus:not([ readonly ]) {
	border-bottom: 1px solid #03a9f4 !important;
	-webkit-box-shadow: 0 1px 0 0 #03a9f4 !important;
	box-shadow: 0 1px 0 0 #03a9f4 !important;
}

.site-footer{
    text-transform: uppercase;
    font-size: 12px;
}