.root {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 0.5em;
    padding: 1em;
}
.username {
    text-align: center;
}
.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}