extends ../layout
block content
	include ../partials/messages.pug
	.valign-wrapper.login-height.login-width.absolute
		.valign.login-width
			.container
				.row
					.col.s10.m6.offset-m3
						.card
							.card-content
								span.card-title.center Iniciar Sesión
									.row
										form.col.s12(action='/users/login' method='POST')
											.row
												.col.s12
													.input-field.col.s12
														input(placeholder='Correo electronico' type='email' name='email')
													.input-field.col.s12
														input(placeholder='Contraseña' type='password' name='password')
													.input-field.col.s12.center
														button(type='submit' class='btn red') Ingresar
								div.center.row
									.col.s6
										a.btn.btn-flat.blue-text.center(href='/users/register') Registrarse
									.col.s6
										a.btn.btn-flat.red-text.center Olvide mi contraseña