extends ../layout
block content
    include ../partials/messages.pug
    .valign-wrapper.login-height.login-width.absolute
        .valign.login-width
            .container
                .row
                    .col.s10.m6.offset-m3
                        .card
                            .card-content
                                span.card-title.center Actualizar Perfil
                                    .row
                                        form.col.s12(action='/users/update/profile' method='POST' enctype='multipart/form-data')
                                            .row
                                                .col.s12
                                                    .input-field.col.s12
                                                        input(placeholder='Nombre de usuario' type='text' name='username')
                                                    .file-field.input-field.col.s12
                                                        .btn
                                                            span Avatar
                                                            input(type='file' name='avatar')
                                                        .file-path-wrapper
                                                            input.file-path.validate(type='text')
                                                    .input-field.col.s12.center
                                                        button(type='submit' class='btn orange') Actualizar