.avatar {
    vertical-align: top;
    width: 70px;
    text-align: left;
}
.content {
    width: calc(100% - 110px);
    vertical-align: top;
}
.text {
    font-size: 13pt;
    font-weight: 300;
    overflow: hidden;
}
.image {
    border: 0;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
}